# Ignore everything by default
/*
/*/
.*

# Whitelist git files
!.gitignore
!.github/

# Whitelist documentation
!README.md
!LICENSE

# Whitelist makefile
!Makefile

# Whitelist playdate files
!pdxinfo

# Whitelist source lua files
!source
source/**

!source/**/
!source/**/*.lua
