# Ignore everything by default
/*
/*/
.*

# Whitelist git files
!.gitignore
!.gitmodules
!.github/

# Whitelist editor config
!.vscode/
.vscode/**

!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# Whitelist documentation
!README.md
!LICENSE

# Whitelist makefile
!Makefile

# Whitelist source lua files
!source
source/**

!source/**/
!source/**/*.lua

# Whitelist library files
!library/

# Whitelist assets
!source/images/**/
!source/images/**/*.png

# Whitelist playdate files
!source/pdxinfo

# Whitelist config files
!.editorconfig
!.luarc.json
!.stylua.toml
!.styluaignore
